{% extends 'base.html' %}
{% block content %}
<body>
<div class="container">
        
     <div class="panel panel-default">

        <div class="panel-heading">
             <h1>All book<h1>
        </div> 
        <div class="panel-body">    
            {% regroup books by name|slice:":1"|upper as books_list %}
                <div class="table-responsive">
                    {% for letter in books_list %}
                        <form>
                            <table class="table table-condensed" >
                            <thead>
                                <tr>
                                    <th><h1>{{ letter.grouper }}</h1></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>Book's Name</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>   
                            <tbody style="background: #eee">
                                {% for book in letter.list %}
                                <tr>
                                    <td>{{book.name}}</td> 
                                    <td>{{book.quatity}}</td>
                                </tr>
                                {% endfor %}                                
                            </tbody>
                            </table>
                        </form>    
                    {% endfor %}
                </div>
        </div>
    </div>    
</div>
</body>
{% endblock %}
