<!DOCTYPE html>
<html lang='en'>
    <head>
        {% load pickertags %}
        {% load_css %}
        {% load staticfiles %}
        <link rel='stylesheet' href="{% static 'css/style.css' %}">
        <link rel="stylesheet/less" type="text/css" href="{% static 'less/style.less' %}" />
        {% block css %}{% endblock css %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% block title %}{% endblock %}</title>
        <style>
        body{
            background-color: #eee;
        }
        .navbar{
            border-radius: 0;
        }
        </style>
    </head>
    <body>
        {% block body %}
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Bookstore</a>
                </div>
                {% block menu %}
                    <!-- menu here -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% for menu_list in menu %}
                                {% if menu_list.submenu %}
                                    <li class='dropdown'>
                                        <a class="dropdown-toggle" data-toggle="dropdown">{{ menu_list.name }}<b class="caret"></b></a>
                                        <ul class='dropdown-menu'>
                                             {% for submenu_list in menu_list.submenu %}
                                                <li><a href="{{ submenu_list.url }}">{{ submenu_list.name }}</a></li>
                                             {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li><a href="{{ menu_list.url }}">{{ menu_list.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a>Welcome, {{ user.username|upper }}.</a></li>
                            <li><a href="/logout">Logout</a></li>    
                        {% else %} 
                            <li><a href="/">Please login.</a></li>
                            {% endif %}
                        </ul>    
                    </div>
                {% endblock %}
            </div>
            </nav>
        {% endblock body %}
        <section class='content'>
            {% block content %}{% endblock %}
        </section>
        {% load_js %}
        {% block js %}{% endblock %}
    </body>
</html>
