{% extends 'base.html' %}

{% block title%}
    Bookstore | Today
{% endblock %}

{% block content %}
    {% for first_character, books in results %}
        <h3>{{ first_character }}</h3>
        {% for name, list_of_book, total in books %}
            {% for on, name, qty in list_of_book %}
                <p>name: {{ name }}</p>
                <p>quantity: {{ qty }}</p>
                <p>sale on: {{ on }}</p>
            {% endfor %}
            <p>total: {{ total }}</p>
            <hr>
        {% endfor %}
    {% endfor %}
{% endblock %}
