{% extends 'base.html' %}
{% block content %}
 <div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"> Authors List </div>
        <div class="panel-body">
            <ul>
            {% for author_name, books in authors %}
                <h1> {{ author_name }}</h1>
                {% for book in books %}
                <li> {{ book.name }} - {{ book.quatity }} ea</li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div> 
    </div>
</div>
{% endblock %}
