{% extends 'base.html' %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form method='post' action='{% url "django.contrib.auth.views.login" %}'>
        {% csrf_token %}
        {{ form.username }}
        {{ form.password }}
        <input type='submit' value='login'>
        <input type='hidden' name='next' value='{{ next }}'>
    </form>
{% endblock %}
