{% extends 'base.html' %}
<html>
{% block content %}
<body>
    <form actiom="/register_vip/" method="POST">
        {% csrf_token %}
        name{{pay.name}}
        {{pay.name.errors}}
        last_name{{pay.last_name}}{{pay.last_name.errors}}
        phone{{pay.phone_no}}{{pay.phone_no.errors}}
        <input type="submit">        
    </form>
</body>
{% endblock %}
</html>
