{% extends 'base.html'  %}
    {% block content %}
<html>
    <head>
        <style>
            th{
                background: white;
                font-size: 18px;
            }
            td{
                font-size: 17px;
            }
        </style>
    </head> 
    <body style="background: #eee">
        <div class="container">       
            <div class="panel">
                <div class="panel-heading"><h1>SALE REPORT<h1>
            <form actiom="/sale_report/" method="POST">
                {% csrf_token %}
                <input name="input_date" type="date">
                <input type="submit">
            </form>
            </div>
            <div class="panel-body">
            <div class="table-responsive">
                {% if pay|length != 0 %}
                <form>
                {% for first_letter,books in pay %}
                
                    <table cellspacing="0" cellpadding="0" class="table table-condensed">
                    <thead>
                        <tr>
                            <th>
                                <h1>{{first_letter}}</h1>
                            </th>   
                            <th></th>
                            <th></th> 
                        </tr>
                        <tr>
                            <th>DATE</th>
                            <th>BOOK'S NAME</th>
                            <th>QUANTITY</th>
                            <th>VALUE</th>
                        </tr>
                    </thead>
                        {% for name,list_of_book,total,values in books %}
                        {% for dt,name,qty,value in list_of_book %}
                    <tbody>   
                        <tr style="background: #eee">
                            <td>{{dt}}</td> 
                            <td>{{name}}</td>
                            <td>{{qty}}</td>
                            <td>{{value}}</td>
                        </tr>
                        {% endfor %}
                        <tr style="background: #eee">
                            <td></td>
                            <td></td>
                            <td>total = {{total}}</td>
                            <td>values = {{values}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>    
                    {% endfor %}
                    </table>
                </form>
            {% else %}
                <h1>0 QUANTITY</h1>    
                {% endif %}
        </div>
        </div>
        </div>
        </div>
    </body>
    {% endblock %}
</html>
