{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <div align='center'>
        <form actoin="" method="POST">
            {% csrf_token %}
            <label>วันที่</label>
            <input type="date" name="date" /> 
            <input type="submit" value="Submit"/>
        </form>

        {% if stocks %}
            <h1>Stock Balance on {{ input_date }}</h1>
            <table width='80%'>
                <tr>
                    <th>Book</th>
                    <th>Order</th>
                    <th>Sale</th>
                    <th>Remain</th>
                    <th>On</th>
                </tr>
                
                    {% for stock in stocks%}
                        <tr>
                            <th>{{ stock.book.name }}</th>
                            <th>
                                {{ stock.quantity_order|default_if_none:"-" }}
                            </th>
                            <th>
                                {{ stock.quantity_sale|default_if_none:"-" }}
                            </th>
                            <th>{{ stock.remain_book }}</th>
                            <th>{{ stock.create_on }}</th>
                        </tr>
                    {% endfor %}
                
            </table>
        {% endif %}
        {% if not stocks %}
            <h3>ไม่มีการซื้อขาย</h3>
        {% endif %}
    </div>
{% endblock %}
